@{
    ViewBag.Title = "Home Page";
}

<script src="~/node_modules/angular/angular.js"></script>
<script src="~/node_modules/angular-route/angular-route.js"></script>

<script src="~/app/scripts/app.js"></script>
<script src="~/app/scripts/app.config.js"></script>
<script src="~/app/student-detail/student-detail.module.js"></script>
<script src="~/app/student-detail/student-detail.component.js"></script>



<div ng-app="myApp">
    <div ng-controller="myController">

        <div ng-view></div>

    </div>
</div>